*{
	scroll-behavior: smooth;
	font-family: 'Roboto Slab', serif;
	padding: 0;
	margin: 0;
}

.main-nav
{
	padding: 10px;
	background-color: #232F3E;
	color: #f9f9f9;
	/*height: 130px;*/
}

body{
	background-color: #E8E8E8;	
}

#container-main
{
	/*background-color: white;*/
	
}
.offer-container
{
	background-color: white;
	border-radius: .5%;
}


.container-fluid{
	margin-top: 10px;
	background-color: #E8E8E8;	
	padding-left: 40px;
	padding-right: 40px;

}


#footer-container{
	padding: 20px;
	background-color: #232F3E;
	color: #f9f9f9;
}

.navbar > ul
{
	font-size: 20px;
	
}
.navbar > ul > li > a{
	color: #f9f9f9;
}

.navbar > ul > li > a:hover{
	font-size: 21px;
}

.carousel-inner > .carousel-item > img {
  width:100%;
  height:360px;
  /*border: 1px solid black;*/
}

.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 15px;
    height: 15px;
    /*background-color: #ffff99;*/
}

.sticky > .row
{
	padding: 5px;
}

#offer > div
{
	/*border: 1px solid black;*/
	padding: 5px;
	
	/*width: 20%;*/
}

#offer > div > img
{
	height: 200px;
	width: 100%;
	border-radius: 1%;

}

/*#offer > div > img:hover
{
	height: 220px;
	width: 100%;

}*/

.offer-container
{
	margin: 20px 20px 0px 20px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

#back-top > h5{
	font-size: 25px;
}

#back-top{
	background-color: rgba(35,47,62,.9);
	color: #f9f9f9;

}

#back-top:hover{
	background-color: rgba(35,47,62,1);
	color: #f9f9f9;
	text-decoration: none;
}

#top:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#footer-container > div > div > ul > a > li{
	margin-bottom: 2px;
	opacity: .9;
	text-align: center;
	color: white;
	font-size: 18px;
}

#footer-container > div > div > ul > a > li:hover{
	opacity: 1;		
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

#test1{
	display: none;
}

#picx1:hover #title{

	display: block;
}

#thumbnail {
	display: block;

	width: 150px;
	height: 150px;
}

#thumbnail:hover + #title {
	display: block;
}

#title {
	display: none;
	color: #ffffff;
	background-color: #000000;
  	text-align: center;
  	width: 130px;
	padding: 10px;
}